<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/static/assets/images/favicon.svg" type="image/x-icon" />
    <title>Form Feedback | Infinite Learning</title>

    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="/static/form/css/bootstrap.min.css" />
    <!-- Customize CSS -->
    <link rel="stylesheet" href="/static/form/css/styles.css">
    <!-- select 2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    <!-- CONTAINER -->
    <div class="main-wrapper">

        <!-- FORM SECTION -->
            <!-- HEADER BUT MOSTLY LIKE FIRST SECTION -->
            <div class="header-section">
                <div class="header-first"></div>
                <h1>Rancang Bangun Aplikasi Evaluasi Kegiatan Magang Pada Lembaga Infinite Learning Menggunakan Metode
                    DBSCAN Berbasis Web</h1>
                <p style="text-align: justify;">
                    Dengan tulus, saya ingin mengucapkan terima kasih yang sebesar-besarnya atas kesediaan Anda untuk berpartisipasi dalam penelitian ini. Kontribusi Anda merupakan langkah penting dalam upaya saya untuk memperdalam pemahaman tentang topik ini. Tanpa partisipasi Anda, penelitian ini tidak akan berhasil mencapai tingkat keberhasilan yang sama. <br>
                    saya sangat menghargai waktu dan perhatian yang Anda berikan dalam menjawab kuisioner saya dengan jujur dan mendetail. Setiap jawaban yang Anda berikan akan membantu saya menyusun analisis yang lebih akurat dan solusi yang lebih relevan untuk tantangan yang saya hadapi. <br>
                    Sekali lagi, saya ingin mengucapkan terima kasih atas dedikasi dan kontribusi Anda. Semoga Tuhan memberkati setiap langkah yang Anda ambil, dan semoga Anda selalu diberkati dalam segala hal yang Anda lakukan. Terima kasih atas segalanya. <br>
                </p>
                <br><br>
                <h5>Terima kasih :)</h5>
            </div>
    </div>

    <!-- ========= All Javascript files linkup ======== -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="/static/form/js/bootstrap.bundle.min.js"></script>

    <!-- CUSTOMIZE JAVASCRIPT -->
    <script src="/static/form/js/script.js"></script>

    <!-- select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
</body>

</html>